body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.toolbar-left {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

#controlPanel {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(42, 42, 42, 0.8);
  padding: 5px 8px;
  border-radius: 5px;
  border: 3px solid green; 
}


/*styling root here affects the components within it*/
.controlPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(42, 42, 42, 0.8);
  transform: translate(-50%, -50%);
  padding: 5px 8px 5px 5px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 3px solid green; 
}

#banner {
  color: white
}

.banner-button {
 position: relative;
 left:50%;
}